@import "./variables";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.825rem;
  padding: 1.5rem;
  border-radius: 5px;

  .form {
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
    &__buttons {
      display: flex;
      gap: 0.625rem;
      margin-block: 0.625rem;
      justify-content: space-between;
      align-items: center;
    }
  }

  .actions {
    display: flex;
    gap: 0.625rem;
    margin-block: 0.625rem;
    justify-content: space-between;
    align-items: center;
    &:has(:only-child) {
      justify-content: flex-end;
    }
  }

  .button__primary {
    background-color: $primary-color;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    &:hover {
      background-color: lighten($primary-color, 10%);
    }
    &:focus {
      outline: none;
      background-color: darken($primary-color, 10%);
    }
    &:disabled {
      background-color: $light-grey;
      color: $grey;
      cursor: not-allowed;
      &:hover {
        background-color: $light-grey;
      }
    }
  }

  .button__secondary {
    background-color: $light-grey;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    &:hover {
      background-color: darken($light-grey, 10%);
    }
    &:focus {
      outline: none;
    }
    &:disabled {
        background-color: $light-grey;
        color: $grey;
        cursor: not-allowed;
        &:hover {
          background-color: $light-grey;
        }
      }
  }

  .summary {
    background-color: $light-grey;
    padding: 1rem;
    margin: auto;
    border-radius: 5px;
    color: $secondary-color;
    &__item {
      display: flex;
      align-items: center;
      gap:0.625rem;
      font-size: 0.875rem;
      padding: 0.25rem 1rem;
    }
    &__label {
      min-width: 10%;
      margin-inline-end: 0.25rem;
      font-weight: 600;
      text-transform: capitalize;
    }
  }
}
